html, body {
  font-family: 'Radley', serif;
  box-sizing: border-box;
  margin: 0;
  background-image: url("../../assets/imgs/food2.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
}
